@charset "utf-8";
/* CSS Document */
.clockStyle{
background-color:red;
border:#999 2px inset;
padding:6px;
color:black;
font-family:"arial black";
font-size:16px
font-weight:bold;
letter-spacing:2px;
display:inline;
}
